html {
    box-sizing: border-box;
}

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: inherit;
}

h1 {
    text-align: center;
}

body {
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    /* The code below allows me to put the footer at the bottom */
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 320px;
    height: 320px;
}

.item {
    width: 20px;
    height: 20px;

    background-color: white;
}